Django==1.11.5
Pillow==5.2.0
chardet==2.2.1
colorama==0.2.5
dj-database-url==0.5.0
dj-pagination==2.4.0
django-bootstrap-form==3.4
django-bootstrap-tags==1.2.0
django-contrib-comments==1.9.0
django-forms-bootstrap==3.1.0
django-multiselectfield==0.1.8
django-storages==1.7.1
docutils==0.14
gunicorn==19.9.0
html5lib==0.999
jmespath==0.9.3
psycopg2==2.7.5
pycurl==7.19.3
python-dateutil==2.7.3
pytz==2017.2
requests==2.2.1
six==1.5.2
stripe==2.7.0
urllib3==1.23
wheel==0.24.0
whitenoise==4.1