@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

body, html {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.alert {
    max-width: 1024px;
    margin: 0 auto;
}

.main-content {
    height: 100%;
    max-width: 1024px;
    margin-top: 30px;
}

.list-group-item {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px 0px 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    border-top: 1px solid #ededed;
    background-color: white;
    color: #A9A9A9;
}

.footer-list {
    display: flex;
    list-style: none;
}

.footer-item {
    padding-left: 10px;
}

/* pagination CSS */

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
  text-align: center;
  
}

.pagination span {
    background-color: #3190ED;
    border: 2px solid #3190ED;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.pagination a {
    background-color: white;
    border: 2px solid #3190ED;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #3190ED;
    color: white;
}

.full-comment {
    margin: 20px 0px 20px 20px;
}

.comment-btn {
    max-width: 20%;
    padding: 10px 0px 10px 0px;
}

.ticket-description {
    padding-bottom: 40px;
}

.thumbnail{
    height: 200px;
    width: 200px;
    overflow:hidden;
    display: block;
    }

.modal-dialog{
    position: relative;
    display: table; /* <-- This makes the trick */
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}

.screenshot {
    padding-bottom: 20px;
}

/* Fix for Bootstrap Modal inside list-group-item */
.list-group-item, .list-group-item:hover { 
    z-index: auto;
}

.createticketform label {
    font-size: 1.2em;
}