{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issue Tracker</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-5bFGNjwF8onKXzNbIcKR8ABhxicw+SC1sjTh6vhSbIbtVgUuVTm2qBZ4AaHc7Xr9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    {% block js-head %}{% endblock js-head %}
</head>

<body>
    
<!-- Top Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'index' %}">ISSUE TRACKER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tickets' %}">Tickets</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_ticket' %}">Create Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {%  else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                <input class="form-control mr-sm-2" type="text" placeholder="Search Tickets" name="q">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% endif %}
        </div>
    </nav>
    
<!-- Site Alerts -->
    {% if messages %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </strong>
    </div>
    {% endif %}
    
<!-- Main Page Content -->
    <div class="container main-content">
        {% block content %}
        {% endblock %}
    </div>
    
<!-- Footer Social Links And Copyright -->
    <footer class="footer">
            <nav class="footer-list d-flex">
                <li class="footer-item p-2">
                    <a href="https://www.facebook.com/">
                    <i class="fab fa-facebook fa-lg"></i>
                    </a>
                </li>
                <li class="footer-item p-2">
                    <a href="https://twitter.com/">
                    <i class="fab fa-twitter-square fa-lg"></i>
                    </a>
                </li>
                <li class="footer-item p-2">
                    <a href="https://www.linkedin.com/">
                    <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                </li>
                <li class="footer-item p-2">
                    <a href="#">
                    <i class="fas fa-globe-africa fa-lg"></i>
                    </a>
                </li>
                <li class="footer-item ml-auto p-2" id="copyRight">@Copyright 2018 Shaun Nugent</li>
            </nav>
    </footer>
{% block js-foot %}{% endblock js-foot %}
</body>
</html>
